pyrogram
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube_dl
youtube_search_python==1.4.6
yt_dlp
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
speedtes_cli
ffmpeg-python
Pillow
python-arq
future
psutil
wget
regex
googletrans==4.0.0rc1
gTTS
heroku3
httpx==0.13.3
gitpython
